<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.strcss.projects.moneycalc.moneycalcserver.mapper.SettingsMapper">


    <resultMap id="getSettingsMap" type="ru.strcss.projects.moneycalc.moneycalcdto.entities.Settings"
               autoMapping="true">
    </resultMap>
    <select id="getSettings" resultMap="getSettingsMap">
        <![CDATA[

            select s.*
            from "Settings" s
            join "User" u on s.id = u."settingsId"
            join "Access" a on a.id = u."accessId"
            where a.login = #{login}

        ]]>
    </select>


    <update id="updateSettings" statementType="CALLABLE">
    <![CDATA[
        UPDATE "Settings"
        SET
          "periodFrom" = #{settings.periodFrom},
          "periodTo" = #{settings.periodTo}
        where id = (select u."settingsId"
                    from "User" u
                      join "Access" a on a.id = u."accessId"
                    where
                      a.login = #{login})
        ]]>
    </update>
</mapper>
