<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ru.strcss.projects.moneycalc.moneycalcserver.mapper.StatsBySectionMapper">

    <resultMap id="getSumMap"
               type="ru.strcss.projects.moneycalc.moneycalcdto.dto.crudcontainers.ItemsContainer"
               autoMapping="false">
        <result property="count" column="count"/>
        <association property="stats"
                     javaType="ru.strcss.projects.moneycalc.moneycalcdto.entities.statistics.BaseStatistics"
                     autoMapping="true"/>
        <collection property="items" ofType="ru.strcss.projects.moneycalc.moneycalcdto.entities.statistics.SumBySection"
                    autoMapping="true"/>
    </resultMap>
    <select id="getSum" resultMap="getSumMap">
        <![CDATA[
            select count(*) over () as count, ss.name, sum(t.sum) as sum, sum(sum(t.sum)) over() as total
            from "Transactions" t
            join "User" u on t."userId" = u.id
            join "Access" a on u."accessId" = a.id
            join "SpendingSection" ss on t."sectionId" = ss."sectionId"
            where a.login = #{login} and ss."userId" = u.id
              and t.date >= #{filter.dateFrom}
              and t.date < #{filter.dateTo}
            ]]>
        <if test="filter.sectionIds != null and !filter.sectionIds.isEmpty()">
            and t."sectionId" IN
            <foreach item="id" collection="filter.sectionIds" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        group by ss.name, ss.id
        order by sum(t.sum) desc;
    </select>
</mapper>
