<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="../log"/>

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%cyan(%t)] %cyan(%c{3}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="RollingFile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/MoneyCalcServer.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{ISO8601} %-5level [%t] %c{3}: %msg%n%throwable</Pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 50 MegaBytes -->
            <fileNamePattern>${LOGS}/archived/MoneyCalcServer-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <root level="WARN">
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </root>

    <logger name="ru.strcss.projects.moneycalc.moneycalcserver" level="TRACE" additivity="false">
    <!--<logger name="ru.strcss.projects.moneycalc.moneycalcserver" level="WARN" additivity="false">-->
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console"/>
    </logger>

    <logger name="ru.strcss.projects.moneycalc.moneycalcserver.mapper" level="INFO" />
    <!--<logger name="ru.strcss.projects.moneycalc.moneycalcserver.mapper" level="DEBUG" />-->
</configuration>